<template>
  <div class="slider-movie">
    <swiper
      class="slider-movie__inside"
    >
      <swiper-slide
        v-for="(item, index) in movieData"
        :key="item.id || ('item-' + index)"
        class="slider-movie__slide"
      >
        <div
          :class="{empty: !item.poster_path}"
          class="slider-movie__image"
        >
          <b-img
            v-if="item.poster_path"
            :src="imagesRoute + item.poster_path"
            alt="poster"
          />
          <div
            v-else
          >
            <p>No image found</p>
          </div>
        </div>
        <div class="slider-movie__content">
          <div class="slider-movie__header">
            <h5>{{ item.name }}</h5>
            <p
              v-if="item.air_date"
              class="slider-movie__date"
            >Premiere: {{ item.air_date }}</p>
          </div>
          <p
            v-if="item.overview"
            class="slider-movie__overview"
          >{{ item.overview }}</p>
          <nuxt-link
            :to="{name: 'serial-id-season-number', params:{id: $route.params.id, number: item.season_number}}"
            class="slider-movie__link link"
          >More details</nuxt-link>
        </div>
      </swiper-slide>
    </swiper>
    <div v-if="movieData.length">
      <div class="swiper-button-prev"><slider-arrow /></div>
      <div class="swiper-button-next"><slider-arrow /></div>
    </div>
  </div>
</template>

<script>
  import {routes} from '../../data/routes';
  import SliderArrow from '../svg/SliderArrow';

  export default {
    name: 'SliderMovie',
    components: { SliderArrow },
    props: {
      movieData: {
        type: Array,
        required: true,
      }
    },
    data: () => ({
      imagesRoute: routes.images,
    }),
  };
</script>
