<template>
  <div class="actor">
    <b-container>
      <b-row>
        <b-col>
          <h1 class="page__title">{{ actor.name }}</h1>
        </b-col>
      </b-row>
      <b-row>
        <b-col lg="9">
          <div class="actor__content">
            <actor-card
              :actor="actor"
              :died="!!actor.deathday"
            />
          </div>
        </b-col>
        <b-col lg="3">
          <div
            v-if="hasChild"
            class="sidebar"
          >
            <sidebar-fact
              v-if="actor.birthday"
              :value="actor.birthday"
              attribute="Birthday"
            />
            <sidebar-fact
              v-if="actor.place_of_birth"
              :value="actor.place_of_birth"
              attribute="Place of birth"
            />
            <sidebar-fact
              v-if="actor.deathday"
              :value="actor.deathday"
              attribute="Died"
            />
          </div>
        </b-col>
        <b-col lg="10">
          <actor-movies
            v-if="actor.id"
            :id="actor.id"
          />
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
  import {getActor} from '../../services/theMovieApi';
  import {routes} from '../../data/routes';
  import ActorCard from '../../components/actor/ActorCard';
  import SidebarFact from '../../components/block/SidebarFact';
  import ActorMovies from '../../components/actor/ActorMovies';

  export default {
    validate ({ params }) {
      return /^\d+$/.test(params.id)
    },
    name: 'Actor',
    components: { ActorMovies, SidebarFact, ActorCard},
    data: () => ({
      actor: {},
      imagesRoute: routes.images,
    }),
    computed: {
      hasChild() {
        return this.actor.birthday || this.actor.place_of_birth || this.actor.deathday;
      }
    },
    created() {
      this.loadActor();
    },
    methods: {
      async loadActor() {
        try {
          const {data} = await getActor(this.$route.params.id);

          this.actor = data;
        } catch (e) {}
      }
    }
  }
</script>
