<template>
  <div class="login">
    <div class="page__title">
      <h1>Login</h1>
    </div>
    <form
      class="form"
      action=""
      @submit.prevent="loginWithFirebase"
    >
      <v-input
        v-model="user.email"
        type="email"
        label="Email"
        placeholder="email"
      />
      <v-input
        v-model="user.password"
        type="password"
        label="Password"
        placeholder="password"
      />
      <b-button
        class="button button_form"
        type="submit"
      >
        Login
      </b-button>
    </form>
  </div>
</template>

<script>
  import VInput from '../../components/bases/VInput';
  import {mapActions} from 'vuex';

  export default {
    name: 'Login',
    components: { VInput },
    data: () => ({
      user: {
        email: '',
        password: '',
      }
    }),
    methods: {
      ...mapActions({
        signInAction: 'auth/signInAction'
      }),
      async loginWithFirebase() {
        try {
          await this.signInAction(this.user);
          this.$toast.success('You have successfully logged in');
          await this.$router.push({name: 'movies'});
        } catch (error) {
          this.$toast.error(error.message);
        }
      }
    },
  };
</script>
