<template>
  <div class="actor-movies">
    <div class="actor-movies__title">
      <h5>Movies:</h5>
    </div>
    <b-row class="actor-movies__row actor-movies__row_head">
      <b-col
        class="actor-movies__column"
        cols="1"
      >
        <p class="actor-movies__index">№</p>
      </b-col>
      <b-col
        class="actor-movies__column"
        cols="5"
      >
        <p>Movie</p>
      </b-col>
      <b-col
        class="actor-movies__column"
        cols="4"
      >
        <p>Character</p>
      </b-col>
      <b-col
        class="actor-movies__column"
        cols="2"
      >
        <p>Link</p>
      </b-col>
    </b-row>
    <b-row
      v-for="(movie, index) in movies"
      :key="movie.id"
      class="actor-movies__row"
    >
      <b-col
        class="actor-movies__column"
        md="1"
      >
        <p class="actor-movies__index">{{ index + 1 }}</p>
      </b-col>
      <b-col
        class="actor-movies__column"
        md="5"
      >
        <p class="actor-movies__text"><span class="actor-movies__title_mobile">Movie:</span>{{ movie.title }}</p>
      </b-col>
      <b-col
        class="actor-movies__column"
        md="4"
      >
        <p class="actor-movies__text"><span class="actor-movies__title_mobile">Character:</span>{{ movie.character || '-' }}</p>
      </b-col>
      <b-col
        class="actor-movies__column"
        md="2"
      >
        <nuxt-link
          :to="{name: 'movie-id', params: {id: movie.id}}"
          class="link"
        >View details</nuxt-link>
      </b-col>
    </b-row>
  </div>
</template>

<script>
  import { getActorMovies } from '../../services/theMovieApi';

  export default {
    name: 'ActorMovies',
    props: {
      id: {
        type: Number,
        required: true,
      }
    },
    data: () => ({
      movies: [],
    }),
    created() {
      this.loadActorMovies();
    },
    methods: {
      async loadActorMovies() {
        try {
          const {data} = await getActorMovies(this.id);

          this.movies = data.cast;
        } catch (e) {}
      }
    },
  }
</script>
