<template>
  <div class="actor-card">
    <div
      :class="{'sad': died, 'empty': !actor.profile_path}"
      class="actor-card__image"
    >
      <b-img-lazy
        v-if="actor.profile_path"
        :src="imagesRoute + actor.profile_path"
      />
      <div v-else>
        No image found
      </div>
    </div>
    <div class="actor-card__content">
      <h5 class="actor-card__title">{{ actor.name }}</h5>
      <p class="actor-card__text">{{ actor.biography }}</p>
    </div>
  </div>
</template>

<script>
  import {routes} from '../../data/routes';

  export default {
    name: 'ActorCard',
    props: {
      actor: {
        type: Object,
        default: () => {},
        required: true,
      },
      died: {
        type: Boolean,
        default: false,
      }
    },
    data: () => ({
      imagesRoute: routes.images,
    }),
    computed: {
      text() {
        return this.movie.overview.length < 200 ? this.movie.overview : this.movie.overview.slice(0, 200);
      },
    },
  };
</script>
