<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    version="1.1"
    x="0px"
    y="0px"
    viewBox="0 0 54 54"
    xml:space="preserve"
  >
    <path
      fill="#4FBA6F"
      class="slider-arrow__background"
      d="M27,53L27,53C12.641,53,1,41.359,1,27v0C1,12.641,12.641,1,27,1h0c14.359,0,26,11.641,26,26v0    C53,41.359,41.359,53,27,53z"
    />
    <path
      class="slider-arrow__border"
      fill="#4FBA6F"
      d="M27,54C12.112,54,0,41.888,0,27S12.112,0,27,0s27,12.112,27,27S41.888,54,27,54z M27,2    C13.215,2,2,13.215,2,27s11.215,25,25,25s25-11.215,25-25S40.785,2,27,2z"
    />
    <path
      fill="#000000"
      class="slider-arrow"
      d="M22.294,40c-0.256,0-0.512-0.098-0.707-0.293c-0.391-0.391-0.391-1.023,0-1.414L32.88,27   L21.587,15.707c-0.391-0.391-0.391-1.023,0-1.414s1.023-0.391,1.414,0l11.498,11.498c0.667,0.667,0.667,1.751,0,2.418   L23.001,39.707C22.806,39.902,22.55,40,22.294,40z"
    />
  </svg>
</template>

<script>
  export default {
    name: 'SliderArrow',
  };
</script>
