<template>
  <div class="movie-boxes">
    <div
      v-if="movies.length"
      class="movie-boxes__inside"
    >
      <div class="movie-boxes__title">
        <h5>Movies</h5>
      </div>
      <movie-box
        v-for="movie in getMovies"
        :key="'movie-' + movie.id"
        :movie="movie"
        link="movie-id"
      />
    </div>
    <div
      v-if="serials.length"
      class="movie-boxes__inside"
    >
      <div class="movie-boxes__title text-right">
        <h5>TV Show</h5>
      </div>
      <movie-box
        v-for="serial in getSerials"
        :key="'serial-' + serial.id"
        :movie="serial"
        link="serial-id"
      />
    </div>
  </div>
</template>

<script>
  import MovieBox from '../movie/MovieBox';
  import { getLatestMovie, getLatestSerial } from '../../services/theMovieApi';

  export default {
    name: 'MoviesLatest',
    components: { MovieBox },
    data: () => ({
      movies: [],
      serials: [],
    }),
    computed: {
      getMovies() {
        return this.movies.slice(0,3);
      },
      getSerials() {
        return this.serials.slice(0,3);
      }
    },
    created() {
      this.loadMovies();
      this.loadSerials();
    },
    methods: {
      async loadMovies() {
        try {
          const {data} = await getLatestMovie();

          this.movies = data.results;
        } catch (e) {}
      },
      async loadSerials() {
        try {
          const {data} = await getLatestSerial();

          this.serials = data.results;
        } catch (e) {}
      }
    },
  };
</script>
