<template>
  <div class="movie-boxes">
    <div
      v-if="movies.length"
      class="movie-boxes__inside movie-boxes__inside_xl"
    >
      <movie-box
        v-for="(movie, index) in getMovies"
        :key="'movie-' + movie.id"
        :movie="movie"
        :data-aos-delay="index * 200"
        data-aos="fade-up"
        link="movie-id"
      />
    </div>
  </div>
</template>

<script>
  import MovieBox from '../movie/MovieBox';
  import { getUpcomingMovie } from '../../services/theMovieApi';

  export default {
    name: 'MoviesUpcoming',
    components: { MovieBox },
    data: () => ({
      movies: [],
    }),
    computed: {
      getMovies() {
        return this.movies.slice(0,6);
      },
    },
    created() {
      this.loadMovies();
    },
    methods: {
      async loadMovies() {
        try {
          const {data} = await getUpcomingMovie();

          this.movies = data.results;
        } catch (e) {}
      },
    },
  };
</script>
