<template>
  <div class="no-auth">
    <nuxt-link
      :to="{name: 'login'}"
      class="link"
    >You need login</nuxt-link>
  </div>
</template>

<script>
  export default {
    name: 'NeedAuth'
  }
</script>
