<template>
  <div
    v-if="value"
    class="sidebar-fact"
  >
    <p class="sidebar-fact__attribute">{{ attribute }}:</p>
    <p class="sidebar-fact__value">{{ value }} <span>{{ valueType }}</span></p>
  </div>
</template>

<script>
  export default {
    name: 'SidebarFact',
    props: {
      attribute: {
        type: String,
        default: '',
      },
      value: {
        type: [String, Number],
        default: '',
      },
      valueType: {
        type: String,
        default: '',
      }
    },
  };
</script>
