<template>
  <div class="login">
    <div class="page__title">
      <h1>Registration</h1>
    </div>
    <form
      class="form"
      action=""
      @submit.prevent="registerWithFirebase"
    >
      <v-input
        v-model="user.email"
        type="email"
        label="Email"
        placeholder="email"
      />
      <v-input
        v-model="user.password"
        type="password"
        label="Password"
        placeholder="password"
      />
      <v-input
        v-model="confirmPassword"
        type="password"
        label="Confirm password"
        placeholder="password"
      />
      <button
        class="button button_form"
        type="submit"
      >
        Registration
      </button>
    </form>
  </div>
</template>

<script>
  import VInput from '../../components/bases/VInput';
  import {mapActions} from 'vuex';

  export default {
    name: 'Registration',
    components: { VInput },
    data: () => ({
      user: {
        email: '',
        password: '',
      },
      confirmPassword: '',
    }),
    methods: {
      ...mapActions({
        signUpAction: 'auth/signUpAction'
      }),
      async registerWithFirebase() {
        try {
          if (this.user.password === this.confirmPassword) {
            await this.signUpAction(this.user);
            this.$toast.success('Your account is register');
            await this.$router.push({ name: 'movies' });
          }
        } catch (error) {
          this.$toast.error(error.message);
        }
      },
    },
  };
</script>
