<template>
  <label class="form__input-label">
    {{ label }}
    <input
      :type="type"
      :placeholder="placeholder"
      :disabled="isDisabled"
      :value="value"
      :class="inputClass"
      class="form__input"
      @change="change"
      @input="update"
    >
  </label>
</template>

<script>
  export default {
    name: 'VInput',
    model: {
      prop: 'value',
      event: 'input'
    },
    props: {
      type: {
        type: String,
        default: 'text',
      },
      value: {
        type: [String, Number],
        default: '',
      },
      label: {
        type: String,
        default: '',
      },
      placeholder: {
        type: String,
        default: '',
      },
      inputClass: {
        type: String,
        default: '',
      },
      isDisabled: {
        type: Boolean,
        default: false,
      },
    },
    methods: {
      update(e) {
        this.$emit('input', e.target.value)
      },
      change(e) {
        this.$emit('change', e.target.value)
      }
    },
  };
</script>
