* {
  box-sizing: border-box;
}

html {
  font-size: 12px;

  @include media-breakpoint-up(md) {
    font-size: 14px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 16px;
  }
}

body {
  font-family: 'Kulim Park', sans-serif;
  font-weight: 400;
  background: $black;
  color: $white;
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
  margin: 0;
}

.nuxt-link-exact-active {
  pointer-events: none;
  cursor: default;
}

.no-auth {
  height: 150px;
  width: 100%;
  border: 4px double $wine;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $green;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $green-light;
}
