.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  min-height: 34px;

  &_form {
    background: $black;
    color: $white;
    border: 2px solid $white;

    &:hover {
      border: 2px solid $green;
      transition: .5s;
    }
  }
}
