img {
  max-width: 100%;
  max-height: 100%;
}

.image {
  &-float {
    &_left {
      float: left;
      margin-right: 14px;
    }
  }

  &_card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 188px;
    height: 278px;
    border: 4px double $green;

    &.empty {
      border: 4px double $white;
    }
  }
}
