.link {
  color: $green;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
    color: $green;
  }
}

.text {
  &_wine {
    color: $wine;
  }

  &_green {
    color: $green;
  }
}
