.actor-movies {
  margin: 30px 0;

  &__title {
    margin-bottom: 20px;

    &_mobile {
      color: $wine;

      @include media-breakpoint-up(md) {
        display: none;
      }
    }
  }

  &__row {
    min-height: 30px;
    margin: 0;
    border: 1px double $wine;
    padding: 20px;

    @include media-breakpoint-up(md) {
      border: none;
      padding: 0;
    }

    &_head {
      color: $wine;
      min-height: 40px;
      display: none;

      @include media-breakpoint-up(md) {
        display: flex;
      }
    }
  }

  &__column {
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-up(md) {
      border: 1px double $wine;
    }
  }

  &__index {
    color: $green;

    @include media-breakpoint-up(sm) {
      color: $white;
    }
  }

  &__text {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 4px 0;
  }
}
