.actor-card {
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 294px;
    overflow: hidden;
    border: 4px double $green;
    padding: 4px;
    float: none;
    margin: 0 auto 30px;

    @include media-breakpoint-up(sm) {
      float: left;
      margin: 0 14px 0 0;
    }

    &.empty {
      border-color: $white;
    }

    &.sad {
      position: relative;
      border-color: $grey;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }

  &__title {
    color: $green;
  }
}
