.form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;

  &__input {
    width: 100%;
    margin: 4px 0 10px;
    padding: 6px 12px;
    height: 34px;
    background: $black;
    color: $white;

    &:focus {
      outline: 2px solid $green;
    }
  }
}
