.movie-cast {
  margin: 60px 0 30px;
  font-size: 14px;

  &__list {
    display: flex;
    overflow: auto;
  }

  &__item {
    color: $white;

    &:hover {
      color: $green;
      text-decoration: none;
      transition: 0.5s;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 184px;
    height: 278px;
    overflow: hidden;

    &.empty {
      border: 2px double $white;
    }
  }
}
