.movie {
  &-boxes {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include media-breakpoint-up(xl) {
      flex-direction: row;
    }

    &__inside {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      max-width: calc(184px * 3);
      margin: 0 auto;

      @include media-breakpoint-up(xl) {
        width: 50%;
        max-width: none;
        &_xl {
          width: 100%;
        }
      }
    }

    &__title {
      width: 100%;
      text-align: center;

      @include media-breakpoint-up(xl) {
        text-align: left;
      }
    }
  }

  &-box {
    position: relative;
    color: $white;
    display: flex;
    align-items: flex-end;
    width: 184px;
    height: 276px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    font-weight: 700;

    @include media-breakpoint-up(sm) {
      width: 170px;
      height: 256px;
    }

    @include media-breakpoint-up(md) {
      width: 184px;
      height: 276px;
      font-weight: 400;
    }

    &:hover {
      color: $white;
    }

    &__image {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
    }
  }
}
