.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto 40px;
  border-bottom: 2px double $green;

  @include media-breakpoint-up(md) {
    max-width: 600px;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 40px;
  }

  @include media-breakpoint-up(xl) {
    border-bottom: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;

    @include media-breakpoint-up(sm) {
      padding: 10px 0;
    }

    @include media-breakpoint-up(md) {
      padding: 10px 20px;
      flex: 1;
    }

    @include media-breakpoint-up(lg) {
      padding: 0 20px;
    }
  }

  &__title {
    color: $green;
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 184px;
    height: 278px;
  }

  &__rating {
    position: absolute;
    z-index: 2;
    top: -30px;
    left: -30px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }

  &__star {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    z-index: -1;
    path {
      fill: $green;
    }
  }
}
