.serial {
  &-episode {
    margin-bottom: 30px;
    border: 4px double $wine;

    &__header {
      display: flex;
      justify-content: space-between;
      border-bottom: 4px double $wine;
      padding: 20px;
      color: $wine;
    }

    &__body {
      display: flex;
      flex-direction: column;
      padding: 20px;

      @include media-breakpoint-up(sm) {
        flex-direction: row;
      }
    }

    &__image {
      margin: 0 auto 20px;

      @include media-breakpoint-up(sm) {
        margin: 0;
      }
    }

    &__info {
      @include media-breakpoint-up(sm) {
        flex: 1;
        padding-left: 20px;
      }
    }

    &-staff {
      position: relative;

      &__inside {
        background: transparent;
        padding: 0;
      }

      &__title {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 40px;
        z-index: -1;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__button {
        width: 100%;
        height: 40px;
        border-radius: 0;
        border: none;
        border-top: 4px double $wine;
        border-bottom: 4px double $wine;
        background: $black;
        opacity: 0;
        transition: 0.5s;
        pointer-events: none;

        &.collapsed {
          opacity: 1;
          transition: 0.5s;
          pointer-events: unset;
        }

        &_close {
          opacity: 1;
          pointer-events: unset;

          &.collapsed {
            opacity: 0;
            pointer-events: none;
          }
        }

        &:hover,
        &:focus,
        &:active {
          border: none;
          border-top: 4px double $wine;
          border-bottom: 4px double $wine;
          background: $black;
          box-shadow: none;
        }

        &:hover {
          background: $wine;
        }
      }

      &__content {
        padding: 0;
        border-top: 4px double $wine;
      }
    }

    .card-body {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
    }
  }

  &-crew {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 10px;

    @include media-breakpoint-up(sm) {
      width: 50%;
    }

    &__attribute {
      color: $green;
    }

    &__value {
      color: $white;

      &:hover {
        color: $white;
      }
    }

    &:nth-child(2n + 1) {
      @include media-breakpoint-up(sm) {
        border-right: 4px double $wine;
      }
    }
  }
}
