.sidebar {
  background: $wine;
  border: 4px double $green;
  margin-top: 30px;

  @include media-breakpoint-up(lg) {
    margin-top: 0;
  }

  &-fact {
    padding: 10px;

    &:not(:last-child) {
      border-bottom: 2px solid $green;
    }

    &__attribute {
      font-weight: 700;
    }
  }
}
