<template>
  <div class="serial-episode">
    <b-row>
      <b-col>
        <div class="serial-episode__header">
          <h5>Episode: {{ episode.episode_number }}</h5>
          <p>Release: {{ episode.air_date }}</p>
        </div>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <div class="serial-episode__body">
          <div
            :class="{empty: !episode.still_path}"
            class="serial-episode__image image_card"
          >
            <b-img
              v-if="episode.still_path"
              :src="imagesRoute + episode.still_path"
              alt="episode"
            />
            <div
              v-else
            >
              <p>No image found</p>
            </div>
          </div>
          <div class="serial-episode__info">
            <h5 class="text_green">{{ episode.name || 'nameless' }}</h5>
            <p v-if="episode.overview">{{ episode.overview }}</p>
          </div>
        </div>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <div class="serial-episode-staff">
          <b-button
            :class="shownStaff ? null : 'collapsed'"
            :aria-expanded="shownStaff ? 'true' : 'false'"
            aria-controls="episodeCrew"
            class="serial-episode-staff__button"
            @click="toggleStaffBox()"
          >Click to show staff
          </b-button>
          <h5 class="serial-episode-staff__title">Staff</h5>
          <b-collapse
            id="episodeCrew"
            v-model="shownStaff"
            class="serial-episode-staff__content"
          >
            <b-card class="serial-episode-staff__inside">
              <serial-crew
                v-for="(person, index) in episode.crew"
                :key="'person-episode-' + index"
                :id="person.id"
                :attribute="person.job"
                :name="person.name"
              />
              <b-button
                class="serial-episode-staff__button serial-episode-staff__button_close"
                @click="toggleStaffBox()"
              >Click to hide staff</b-button>
            </b-card>
          </b-collapse>
        </div>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <div class="serial-episode-staff">
          <b-button
            :class="shownStars ? null : 'collapsed'"
            :aria-expanded="shownStars ? 'true' : 'false'"
            aria-controls="episodeStars"
            class="serial-episode-staff__button"
            @click="toggleStarsBox()"
          >Click to show quest stars
          </b-button>
          <h5 class="serial-episode-staff__title">Quest stars</h5>
          <b-collapse
            id="episodeStars"
            v-model="shownStars"
            class="serial-episode-staff__content"
          >
            <b-card class="serial-episode-staff__inside">
              <serial-crew
                v-for="person in episode.guest_stars"
                :key="person.id"
                :attribute="person.character"
                :name="person.name"
                :id="person.id"
                :is-link="true"
              />
              <b-button
                class="serial-episode-staff__button serial-episode-staff__button_close"
                @click="toggleStarsBox()"
              >Click to hide quest stars</b-button>
            </b-card>
          </b-collapse>
        </div>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <div></div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
  import {routes} from '../../data/routes';
  import SerialCrew from './SerialCrew';

  export default {
    name: 'SerialEpisode',
    components: { SerialCrew },
    props: {
      episode: {
        type: Object,
        required: true,
      }
    },
    data: () => ({
      imagesRoute: routes.images,
      shownStaff: false,
      shownStars: false,
    }),
    methods: {
      toggleStaffBox() {
        this.shownStaff = !this.shownStaff;
      },
      toggleStarsBox() {
        this.shownStars = !this.shownStars;
      },
    },
  };
</script>
