<template>
  <div class="serial-crew">
    <p class="serial-crew__attribute">{{ attribute }}:</p>
    <nuxt-link
      v-if="isLink"
      :to="{name: 'actor-id', params:{id: id}}"
      class="serial-crew__value"
    >{{ name }}</nuxt-link>
    <p
      v-else
      class="serial-crew__value"
    >{{ name }}</p>
  </div>
</template>

<script>
  export default {
    name: 'SerialCrew',
    props: {
      attribute: {
        type: String,
        default: '',
      },
      name: {
        type: String,
        default: '',
      },
      isLink: {
        type: Boolean,
        default: false,
      },
      id: {
        type: Number,
        required: true,
      }
    }
  };
</script>
