<template>
  <div class="movie-card">
    <b-img-lazy :src="imagesRoute + serial.poster_path" />
    <div class="movie-card__content">
      <h5 class="movie-card__title">{{ serial.title }}</h5>
      <p class="movie-card__text">{{ text }} <span v-if="serial.overview.length > 200">...</span></p>
      <nuxt-link
        :to="{name: 'serial-id', params: {id: serial.id}}"
        class="link"
      >
        Read more
      </nuxt-link>
    </div>
  </div>
</template>

<script>
  import {routes} from '../../data/routes';

  export default {
    name: 'SerialCard',
    props: {
      serial: {
        type: Object,
        default: () => {},
        required: true,
      },
    },
    data: () => ({
      imagesRoute: routes.images,
    }),
    computed: {
      text() {
        return this.serial.overview.length < 200 ? this.serial.overview : this.serial.overview.slice(0, 200);
      },
    },
  };
</script>
