<template>
  <header class="header">
    <b-container>
      <b-row>
        <b-col>
          <b-navbar
            variant="faded"
            type="header"
            toggleable="md"
          >
            <b-navbar-brand to="/">
              <logo />
            </b-navbar-brand>
            <b-navbar-toggle
              class="nav-button"
              target="nav-collapse"
            >
              <menu-icon/>
            </b-navbar-toggle>
            <b-collapse
              id="nav-collapse"
              is-nav
            >
              <b-navbar-nav>
                <b-nav-item :to="{name: 'movies', query: {page: 1}}">Movies</b-nav-item>
                <b-nav-item :to="{name: 'serials', query: {page: 1}}">TV Show</b-nav-item>
                <b-nav-item-dropdown
                  class="nav-item_dropdown"
                  text="Rating"
                >
                  <b-nav-item :to="{name: 'rating-movies', query: {page: 1}}">Movies</b-nav-item>
                  <b-nav-item :to="{name: 'rating-serials', query: {page: 1}}">TV Show</b-nav-item>
                </b-nav-item-dropdown>
                <template v-if="!auth">
                  <b-nav-item :to="{name: 'registration'}">Registration</b-nav-item>
                  <b-nav-item :to="{name: 'login'}">Login</b-nav-item>
                </template>
                <template v-else>
                  <b-nav-item @click="logout">Logout</b-nav-item>
                </template>
              </b-navbar-nav>
            </b-collapse>
          </b-navbar>
        </b-col>
      </b-row>
    </b-container>
  </header>
</template>

<script>
import Logo from './bases/Logo';
import {mapActions} from 'vuex';
import MenuIcon from './svg/MenuIcon';

export default {
  name: 'TheHeader',
  components: {MenuIcon, Logo },
  computed: {
    auth() { return this.$store.state.auth.user }
  },
  methods: {
    ...mapActions({
      logout: 'auth/logout'
    }),
  }
};
</script>
