<template>
  <nuxt-link
    :to="{name: link, params:{id: movie.id}}"
    :class="{empty: !movie.backdrop_path}"
    class="movie-box"
  >
    <div class="movie-box__image">
      <b-img
        :src="imagesRoute + movie.backdrop_path"
        alt="movie"
      />
    </div>
    <div class="movie-box__content">
      <p>{{ movie.title || movie.name }}</p>
    </div>
  </nuxt-link>
</template>

<script>
  import {routes} from '../../data/routes';

  export default {
    name: 'MovieBox',
    props: {
      isBigBox: {
        type: Boolean,
        default: false,
      },
      movie: {
        type: Object,
        required: true,
      },
      link: {
        type: String,
        required: true,
      }
    },
    data: () => ({
      imagesRoute: routes.images,
    }),
  };
</script>
