<template>
  <div class="movie-references">
    <b-container>
      <b-row>
        <b-col>
          <h3>Recommendations:</h3>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <ul class="movie-references__list">
            <li
              v-for="reference in references"
              :key="reference.id"
            >
              <nuxt-link
                :to="{name: 'movie-id', params:{id: reference.id}}"
                :class="{empty: !reference.poster_path}"
                class="link movie-references__image"
              >
                <b-img-lazy
                  v-if="reference.poster_path"
                  :src="imagesRoute + reference.poster_path"
                />
                <div
                  v-else
                >
                  <p>{{ reference.name }}</p>
                  <p>No image found</p>
                </div>
              </nuxt-link>
            </li>
          </ul>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
  import { getMovieReferences } from '../../services/theMovieApi';
  import {routes} from '../../data/routes';

  export default {
    name: 'MovieReferences',
    props: {
      id: {
        type: Number,
        required: true,
      },
    },
    data: () => ({
      references: [],
      imagesRoute: routes.images,
    }),
    created() {
      this.loadMovieReferences();
    },
    methods: {
      async loadMovieReferences() {
        try {
          const {data} = await getMovieReferences(this.id);
          this.references = data.results;
        } catch (e) {}
      },
    },
  };
</script>
