<template>
  <div class="sidebar-fact">
    <p class="sidebar-fact__attribute">{{ attribute }}:</p>
    <div class="movie-genres">
      <nuxt-link
        v-for="genre in genres"
        :key="genre.id"
        :to="{name: type, query:{page: 1, genre: genre.id}}"
        class="movie-genres__link"
      >
        {{ genre.name }}
      </nuxt-link>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'MovieGenres',
    props: {
      attribute: {
        type: String,
        default: '',
      },
      genres: {
        type: Array,
        default: () => {},
      },
      type: {
        type: String,
        required: true,
      }
    },
  };
</script>
