<template>
  <div class="movie-info">
    <div
      :class="{'empty': !movie.poster_path}"
      class="movie-info__image"
    >
      <b-img
        v-if="movie.poster_path"
        :src="imagesRoute + movie.poster_path"
      />
      <div
        v-else
      >
        <p>No image found</p>
      </div>
    </div>
    <div class="movie-card__content">
      <h5 class="movie-card__title">{{ movie.title || movie.name }}</h5>
      <p class="movie-card__text">{{ movie.overview }}</p>
    </div>
  </div>
</template>

<script>
  import {routes} from '../../data/routes';

  export default {
    name: 'MovieInfo',
    props: {
      movie: {
        type: Object,
        default: () => {},
      },
    },
    data: () => ({
      imagesRoute: routes.images,
    }),
  };
</script>
