<template>
  <div class="movie-cast">
    <div>
      <h3>Cast:</h3>
    </div>
    <div class="movie-cast__list">
      <nuxt-link
        v-for="actor in cast"
        :key="actor.cast_id"
        :to="{name: 'actor-id', params: {id: actor.id}}"
        class="movie-cast__item"
      >
        <div class="movie-cast__name">
          <p>{{ actor.name }}</p>
        </div>
        <div
          :class="{empty: !actor.profile_path}"
          class="movie-cast__image"
        >
          <b-img-lazy
            v-if="actor.profile_path"
            :src="imagesRoute + actor.profile_path"
            alt="Actor"
          />
          <div
            v-else
          >
            <p>No image found</p>
          </div>
        </div>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
  import {getMovieCast} from '../../services/theMovieApi';
  import {routes} from '../../data/routes';

  export default {
    name: 'MovieCast',
    props: {
      id: {
        type: Number,
        required: true,
      }
    },
    data: () => ({
      cast: [],
      imagesRoute: routes.images,
    }),
    created() {
      this.loadMovieCast();
    },
    methods: {
      async loadMovieCast() {
        try {
          const {data} = await getMovieCast(this.id);

          this.cast = data.cast.slice(0, 10);
        } catch (e) {}
      }
    }
  }
</script>
