<template>
  <div class="movie-card">
    <div class="movie-card__image">
      <b-img-lazy :src="imagesRoute + movie.poster_path" />
      <div class="movie-card__rating">
        <star class="movie-card__star" />
        {{ movie.vote_average }}
      </div>
    </div>
    <div class="movie-card__content">
      <h5 class="movie-card__title">{{ movie.title }}</h5>
      <p class="movie-card__text">{{ text }} <span v-if="movie.overview.length > 200">...</span></p>
      <nuxt-link
        :to="{name: link, params: {id: movie.id}}"
        class="link"
      >
        Read more
      </nuxt-link>
    </div>
  </div>
</template>

<script>
  import {routes} from '../../data/routes';
  import Star from '../svg/Star';

  export default {
    name: 'MovieCardTopRated',
    components: {Star},
    props: {
      movie: {
        type: Object,
        default: () => {},
        required: true,
      },
      link: {
        type: String,
        required: true,
      }
    },
    data: () => ({
      imagesRoute: routes.images,
    }),
    computed: {
      text() {
        return this.movie.overview.length < 200 ? this.movie.overview : this.movie.overview.slice(0, 200);
      },
    },
  };
</script>
