.slider-movie {
  padding: 20px 20px 70px;
  position: relative;

  @include media-breakpoint-up(sm) {
    padding: 20px 20px 50px;
  }

  &__inside {
    &.swiper-container {
      overflow: unset;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $wine;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;

    @include media-breakpoint-up(sm) {
      padding-left: 20px;
    }
  }

  &__slide {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(sm) {
      flex-direction: row;
    }
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 278px;
    width: 184px;
    margin: 0 auto 20px;

    @include media-breakpoint-up(sm) {
      margin: 0;
    }

    &.empty {
      border: 2px double $white;
    }
  }

  &__link {
    position: absolute;
    bottom: -44px;
    margin-top: auto;

    @include media-breakpoint-up(sm) {
      bottom: -30px;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    bottom: 20px;
    top: unset;
    background: transparent;
    height: 28px;
    width: 28px;

    svg {
      width: 100%;
      height: 100%;
    }

    &:hover {
      .slider-arrow__background {
        fill: $wine;
        transition: 0.5s;
      }

      .slider-arrow__border {
        fill: $green;
        transition: 0.5s;
      }
    }
  }

  .slider-arrow {
    fill: $green;

    &__background {
      fill: $black;
    }

    &__border {
      fill: $wine;
    }
  }

  .swiper-button-prev {
    transform: rotate(180deg);
    right: 58px;
    left: unset;
  }

  .swiper-button-next {
    right: 20px;
  }
}
