.nav {
  &-link {
    color: $white;

    &:hover {
      color: $green;
      transition: 0.3s;
    }
  }

  &-button {
    border: 4px double $green;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;

    svg {
      width: 20px;
      height: 20px;
    }

    path {
      fill: $green;
    }
  }

  &-item {
    &_dropdown {
      .dropdown-menu {
        background: $black;
        border: 2px double $white;
        padding: 0 10px;

        @include media-breakpoint-up(md) {
          padding: 0;
        }
      }
    }
  }
}
