.pagination {
  justify-content: center;
  margin: 0 auto 30px;

  @include media-breakpoint-up(xl) {
    margin: 30px auto;
  }
}

.page {
  &-link {
    color: black;
    background: $green;
    border: none;
    margin: 0;
  }

  &-item {
    &.active,
    &.disabled {
      .page {
        &-link {
          color: white;
          background: $green;
          pointer-events: none;
        }
      }
    }
  }
}
