<template>
  <div class="movies">
    <b-container>
      <b-row>
        <b-col>
          <h1 class="page__title">Top Rated Movies</h1>
        </b-col>
      </b-row>
      <b-row>
        <b-col
          v-for="movie in movies.results"
          :key="movie.id"
          xl="6"
        >
          <movie-card-top-rated
            :movie="movie"
            link="movie-id"
          />
        </b-col>
      </b-row>
      <b-row v-if="movies.total_pages > 1">
        <b-col>
          <b-pagination-nav
            :link-gen="goToPage"
            :number-of-pages="movies.total_pages"
            use-router
          />
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
  import {getTopRatedMovie} from '../../services/theMovieApi';
  import MovieCardTopRated from '../../components/movie/MovieCardTopRated';

  export default {
    name: 'Movies',
    components: {MovieCardTopRated},
    data: () => ({
      movies: {},
    }),
    watch: {
      $route() {
        this.loadTopRatedMovies();
      },
    },
    created() {
      this.loadTopRatedMovies();
    },
    methods: {
      async loadTopRatedMovies() {
        try {
          const {data} = await getTopRatedMovie(this.$route.query.page);
          this.movies = data;
        } catch (e) {}
      },
      goToPage(pageNum) {
        return {
          name: 'rating-movies',
          query: { page: pageNum }
        }
      },
    }
  };
</script>
