<template>
  <div class="movies">
    <b-container>
      <b-row>
        <b-col>
          <h1 class="page__title">Top Rated Movies</h1>
        </b-col>
      </b-row>
      <b-row>
        <b-col
          v-for="serial in serials.results"
          :key="serial.id"
          xl="6"
        >
          <movie-card-top-rated
            :movie="serial"
            link="serial-id"
          />
        </b-col>
      </b-row>
      <b-row v-if="serials.total_pages > 1">
        <b-col>
          <b-pagination-nav
            :link-gen="goToPage"
            :number-of-pages="serials.total_pages"
            use-router
          />
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
  import {getTopRatedSerial} from '../../services/theMovieApi';
  import MovieCardTopRated from '../../components/movie/MovieCardTopRated';

  export default {
    name: 'Serials',
    components: {MovieCardTopRated},
    data: () => ({
      serials: {},
    }),
    watch: {
      $route() {
        this.loadTopRatedSerials();
      },
    },
    created() {
      this.loadTopRatedSerials();
    },
    methods: {
      async loadTopRatedSerials() {
        try {
          const {data} = await getTopRatedSerial(this.$route.query.page);
          this.serials = data;
        } catch (e) {}
      },
      goToPage(pageNum) {
        return {
          name: 'rating-serials',
          query: { page: pageNum }
        }
      },
    }
  };
</script>
