<template>
  <div class="movie">
    <b-container>
      <b-row>
        <b-col>
          <h1 class="page__title">{{ serial.name }}</h1>
        </b-col>
      </b-row>
      <b-row>
        <b-col lg="9">
          <div class="movie__content">
            <movie-info
              :movie="serial"
            />
            <serial-cast
              v-if="serial.id"
              :id="serial.id"
            />
          </div>
        </b-col>
        <b-col lg="3">
          <div class="sidebar">
            <sidebar-fact
              :value="serial.status"
              attribute="Status"
            />
            <sidebar-fact
              :value="serial.release_date"
              attribute="Release date"
            />
            <sidebar-fact
              :value="language"
              attribute="Original Language"
            />
            <sidebar-fact
              :value="serial.runtime"
              value-type="m"
              attribute="Runtime"
            />
            <sidebar-fact
              :value="serial.budget"
              value-type="$"
              attribute="Budget"
            />
            <sidebar-fact
              :value="serial.revenue"
              value-type="$"
              attribute="Revenue"
            />
            <movie-genres
              :genres="serial.genres"
              attribute="Genres"
              type="serials"
            />
          </div>
        </b-col>
      </b-row>
    </b-container>
    <b-container v-if="serial.seasons">
      <b-row>
        <b-col>
          <div class="season-slider">
            <h3>Seasons:</h3>
            <div class="season-slider__content">
              <slider-movie
                :movie-data="serial.seasons"
              />
            </div>
          </div>
        </b-col>
      </b-row>
    </b-container>
    <div v-if="serial.id">
      <serial-references :id="serial.id"/>
    </div>
  </div>
</template>

<script>
  import { getSerial } from '../../../services/theMovieApi';
  import MovieInfo from '../../../components/movie/MovieInfo';
  import SerialReferences from '../../../components/serial/SerialReferences';
  import {shortNames} from '../../../data/short-names';
  import MovieGenres from '../../../components/movie/MovieGenres';
  import SidebarFact from '../../../components/block/SidebarFact';
  import SerialCast from '../../../components/serial/SerialCast';
  import SliderMovie from '../../../components/sliders/SliderMovie';

  export default {
    validate ({ params }) {

      return /^\d+$/.test(params.id)
    },
    name: 'SerialId',
    components: { SliderMovie, SerialCast, SidebarFact, MovieGenres, SerialReferences, MovieInfo },
    data: () => ({
      serial: {},
    }),
    computed: {
      language() {
        return shortNames[this.serial.original_language] || 'Unknown';
      }
    },
    created() {
      this.loadSerial();
    },
    methods: {
      async loadSerial() {
        try {
          const {data} = await getSerial(this.$route.params.id);
          this.serial = data;
        } catch (e) {}
      },
    },
  };
</script>
