<template>
  <div class="movie">
    <b-container>
      <b-row>
        <b-col>
          <h1 class="page__title">{{ serial.name }}</h1>
        </b-col>
      </b-row>
      <b-row>
        <b-col lg="9">
          <div class="movie__content">
            <movie-info
              :movie="serial"
            />
          </div>
        </b-col>
        <b-col lg="3">
          <div class="sidebar">
            <sidebar-fact
              v-if="serial.air_date"
              :value="serial.air_date"
              attribute="Release date"
            />
          </div>
        </b-col>
      </b-row>
    </b-container>
    <b-container>
      <b-row>
        <b-col>
          <div class="season-episodes">
            <h3>Episodes:</h3>
            <div v-if="auth">
              <serial-episode
                v-for="episode in serial.episodes"
                :key="'episode-' + episode.id"
                :episode="episode"
              />
            </div>
            <need-auth v-else/>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
  import { getSerialSeason } from '../../../../services/theMovieApi';
  import MovieInfo from '../../../../components/movie/MovieInfo';
  import {shortNames} from '../../../../data/short-names';
  import SidebarFact from '../../../../components/block/SidebarFact';
  import SerialEpisode from '../../../../components/serial/SerialEpisode';
  import NeedAuth from '../../../../components/block/NeedAuth';

  export default {
    validate ({ params }) {

      return /^\d+$/.test(params.number)
    },
    name: 'SeasonNumber',
    components: {NeedAuth, SerialEpisode, SidebarFact, MovieInfo },
    data: () => ({
      serial: {},
    }),
    computed: {
      language() {
        return shortNames[this.serial.original_language] || 'Unknown';
      },
      auth() { return this.$store.state.auth.user },
    },
    created() {
      this.loadSerial();
    },
    methods: {
      async loadSerial() {
        try {
          const {data} = await getSerialSeason(this.$route.params.id, this.$route.params.number);
          this.serial = data;
        } catch (e) {}
      },
    },
  };
</script>
