<template>
  <div class="movie">
    <b-container>
      <b-row>
        <b-col>
          <h1 class="page__title">{{ movie.title }}</h1>
        </b-col>
      </b-row>
      <b-row>
        <b-col lg="9">
          <div class="movie__content">
            <movie-info
              :movie="movie"
            />
            <movie-cast
              v-if="movie.id"
              :id="movie.id"
            />
          </div>
        </b-col>
        <b-col lg="3">
          <div class="sidebar">
            <sidebar-fact
              :value="movie.status"
              attribute="Status"
            />
            <sidebar-fact
              :value="movie.release_date"
              attribute="Release date"
            />
            <sidebar-fact
              :value="language"
              attribute="Original Language"
            />
            <sidebar-fact
              :value="movie.runtime"
              value-type="m"
              attribute="Runtime"
            />
            <sidebar-fact
              :value="movie.budget"
              value-type="$"
              attribute="Budget"
            />
            <sidebar-fact
              :value="movie.revenue"
              value-type="$"
              attribute="Revenue"
            />
            <movie-genres
              :genres="movie.genres"
              attribute="Genres"
              type="movies"
            />
          </div>
        </b-col>
      </b-row>
    </b-container>
    <div v-if="movie.id">
      <movie-references :id="movie.id"/>
    </div>
  </div>
</template>

<script>
  import { getMovie } from '../../services/theMovieApi';
  import MovieInfo from '../../components/movie/MovieInfo';
  import MovieReferences from '../../components/movie/MovieReferences';
  import {shortNames} from '../../data/short-names';
  import MovieGenres from '../../components/movie/MovieGenres';
  import MovieCast from '../../components/movie/MovieCast';
  import SidebarFact from '../../components/block/SidebarFact';

  export default {
    validate ({ params }) {

      return /^\d+$/.test(params.id)
    },
    name: 'Movie',
    components: {SidebarFact, MovieCast, MovieGenres, MovieReferences, MovieInfo },
    data: () => ({
      movie: {},
    }),
    computed: {
      language() {
        return shortNames[this.movie.original_language] || 'Unknown';
      }
    },
    created() {
      this.loadMovie();
    },
    methods: {
      async loadMovie() {
        try {
          const {data} = await getMovie(this.$route.params.id);
          this.movie = data;
        } catch (e) {}
      },
    },
  };
</script>
