<template>
  <div class="movies">
    <b-container>
      <b-row>
        <b-col>
          <h1 class="page__title">
            TV Show <span v-if="genre">({{ genre.name }})</span>
          </h1>
        </b-col>
      </b-row>
      <b-row>
        <b-col
          v-for="movie in movies.results"
          :key="movie.id"
          xl="6"
        >
          <serial-card
            :serial="movie"
          />
        </b-col>
      </b-row>
      <b-row v-if="movies.total_pages > 1">
        <b-col>
          <b-pagination-nav
            :link-gen="goToPage"
            :number-of-pages="movies.total_pages"
            use-router
          />
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
  import { getAllGenresTv, getSerialsList } from '../../services/theMovieApi';
  import SerialCard from '../../components/serial/SerialCard';

  export default {
    name: 'Serials',
    components: {
      SerialCard,
    },
    data: () => ({
      movies: {},
      genre: null,
    }),
    watch: {
      $route() {
        this.loadMovies();
      },
    },
    created() {
      this.loadMovies();
    },
    methods: {
      async loadMovies() {
        try {
          if (this.$route.query.genre) {
            const {data} = await getSerialsList(this.$route.query.page, this.$route.query.genre);
            this.movies = data;
            this.getGenre();
          } else {
            const {data} = await getSerialsList(this.$route.query.page);
            this.movies = data;
            this.genre = null;
          }
        } catch (e) {}
      },
      goToPage(pageNum) {
        return {
          name: 'serials',
          query: { page: pageNum }
        }
      },
      async getGenre() {
        try {
          const {data} = await getAllGenresTv();
          this.genre = data.genres.find(item => item.id === this.$route.query.genre);
        } catch (e) {}
      },
    },
  };
</script>
