.movie {
  max-width: 1920px;
  margin: 0 auto;

  &-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      align-items: flex-start;
    }

    &__image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 188px;
      height: 278px;
      border: 4px double $green;

      &.empty {
        border: 4px double $white;
      }
    }
  }

  &-references {
    margin: 40px 0 20px;

    &__list {
      padding: 0;
      list-style: none;
      display: flex;
      margin: 10px auto 0;
      overflow: auto;
    }

    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 184px;
      height: 276px;
      overflow: hidden;
      color: $white;
      text-decoration: none;

      &.empty {
        border: 2px double $white;
      }

      &:hover {
        color: $green;
        transition: 0.5s;
      }
    }
  }

  &-genres {
    display: flex;
    flex-wrap: wrap;

    &__link {
      color: $white;
      margin-right: 10px;
      white-space: nowrap;

      &:not(:last-child) {
        &::after {
          content: ',';
          margin-left: -4px;
        }
      }

      &:hover {
        color: $white;
      }
    }
  }
}
