.rating {
  &-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    width: 100%;
    margin: 0 auto 30px;

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(50% - 10px);
      height: 40px;
      border: 2px double $wine;
      color: $white;

      &:hover {
        color: $wine;
        text-decoration: none;
        transition: 0.5s;
      }

      &.nuxt-link-exact-active {
        background: $wine;
      }
    }
  }
}
