.season {
  &-slider {
    position: relative;
    margin: 30px 0;

    &__content {
      max-width: 800px;
      width: 100%;
      margin: 16px 0 0;
      border: 4px double $wine;
    }
  }

  &-episodes {
    margin-top: 30px;
  }
}
