<template>
  <div>
    <Header />
    <section class="page">
      <nuxt />
    </section>
  </div>
</template>

<script>
import Header from '../components/TheHeader';

export default {
  components: { Header },
};
</script>
