<template>
  <b-container>
    <b-row>
      <b-col>
        <h3 class="page__title page__title_home">Today</h3>
        <movies-today/>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <h3 class="page__title page__title_home">Most popular</h3>
        <movies-popular/>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <h3 class="page__title page__title_home">Upcoming movies</h3>
        <movies-upcoming/>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import MoviesToday from '../components/block/MoviesToday';
import MoviesPopular from '../components/block/MoviesPopular';
import MoviesUpcoming from '../components/block/MoviesUpcoming';

export default {
  components: { MoviesUpcoming, MoviesPopular, MoviesToday },
};
</script>
