<template>
  <div class="rating">
    <b-container>
      <b-row>
        <b-col>
          <div class="rating-nav">
            <nuxt-link
              :to="{name: 'rating-movies', query: {page: 1}}"
              class="rating-nav__item"
            >Movies</nuxt-link>
            <nuxt-link
              :to="{name: 'rating-serials', query: {page: 1}}"
              class="rating-nav__item"
            >TV Show</nuxt-link>
          </div>
        </b-col>
      </b-row>
    </b-container>
    <nuxt-child></nuxt-child>
  </div>
</template>

<script>
  export default {
    name: 'Rating',
  };
</script>
